Package Control.*
!Package Control.sublime-settings.ver
build
oscrypto-ca-bundle.crt
Package Control.last-run
Package Control.merged-ca-bundle
Package Control.system-ca-bundle
Package Control.user-ca-bundle
FileHistory*.json
